<%- include('header'); -%>

<h1>This is about the webpage </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, reiciendis. Repellat corporis obcaecati maiores? Expedita dolore totam iste provident quisquam quod. Repudiandae cumque magni itaque reiciendis debitis harum, deleniti cupiditate obcaecati facere, ipsum error veritatis illum facilis est. Eos ullam soluta neque qui beatae obcaecati veniam voluptatibus ea aut deserunt?</p>

<%- include('footer'); -%>